<!-- NOTICE: remember to add the below code to your head tag in your html file -->
<!--      <th:block th:replace="~{fragments/head.html :: #commons}"></th:block>      -->

<div class="footer-TWx" id="footer">
    <div class="frame-34-DFE">Copyright @2022 BA Warrior. All right reserved</div>
</div>

<div class="header-f7E" id="header">
    <div class="frame-20-1Rz">
        <img class="logo-92Q" src="/assets/logo.png"/>
        <div class="frame-19-Gcp">
            <div class="frame-18-QU8">
                <div class="frame-17-iUp">
                    <img class="image-2-ssW" src="/assets/image-2.png" alt=""/>
                    <p class="unigate-R8L">uniGate</p>
                </div>
            </div>
            <div class="frame-16-XSG">
                <div class="group-8-g4G">
                    <img class="mask-group-Nxg" src="/assets/mask-group.png"/>
                    <div class="ellipse-14-hVA">
                    </div>
                </div>
                <div class="frame-15-zUG">
                    <p class="warrior-tran-9rx">Warrior Tran</p>
                    <p class="log-out-UuE">Log out</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navigation-vWL" id="navigation">
    <img class="frame-93-F2p" src="/assets/frame-93.png"/>
    <div class="home-NNL">
        <img class="home-hvQ" src="/assets/home.png"/>
        <p class="home-EvL">Home</p>
    </div>
    <div class="auto-group-6wsv-mvG">
        <div class="syllabus-6he">
            <div class="syllabus-RE8">
                <div class="frame-94-ZbE">
                    <img class="book-open-hSY" src="/assets/book-open.png"/>
                    <p class="syllabus-2zc">Syllabus</p>
                </div>
                <img class="naviopen-mSQ" src="/assets/naviopen.png"/>
            </div>
        </div>
        <div class="training-module-uoW">
            <div class="training-module-Eat">
                <div class="frame-95-nsJ">
                    <img class="biotech-9hr" src="/assets/biotech.png"/>
                    <p class="training-program-V12">Training program</p>
                </div>
                <img class="naviopen-1zx" src="/assets/naviopen.png"/>
            </div>
        </div>
        <div class="classmaster-xQQ">
            <div class="class-UtY">
                <div class="frame-96-ofv">
                    <img class="school-ZQC" src="/assets/school.png"/>
                    <p class="class-W4Y">Class</p>
                </div>
                <img class="naviopen-2oa" src="/assets/naviopen.png"/>
            </div>
            <div class="view-class-mmA">
                <img class="arrowforwardios-6YY" src="/assets/arrowforwardios.png"/>
                <p class="view-class-dYU">View class</p>
            </div>
            <div class="create-class-xak">
                <img class="arrowforwardios-tjJ" src="/assets/arrowforwardios.png"/>
                <p class="create-class-36Q">Create class</p>
            </div>
        </div>
    </div>
    <div class="training-calendar-m2Q">
        <div class="frame-97-Gzk">
            <img class="calendartoday-b1S" src="/assets/calendartoday-blue.png"/>
            <p class="training-calendar-7Va">Training calendar</p>
        </div>
        <img class="naviopen-3e8" src="/assets/naviopen.png"/>
    </div>
    <div class="auto-group-wq6t-BkL">
        <div class="user-management-89n">
            <div class="users-e88">
                <div class="frame-98-Zkt">
                    <img class="group-XBv" src="/assets/group.png"/>
                    <p class="user-management-G9W">User management</p>
                </div>
                <img class="naviopen-bha" src="/assets/naviopen.png"/>
            </div>
            <div class="auto-group-q2wd-YMv">
                <div class="learning-materials-UWU">
                    <div class="frame-99-q68">
                        <img class="folder-BQt" src="/assets/folder.png"/>
                        <p class="learning-materials-7pL">Learning materials</p>
                    </div>
                    <img class="naviopen-FQk" src="/assets/naviopen.png"/>
                </div>
            </div>
        </div>
        <div class="setting-nfa">
            <div class="setting-KfW">
                <div class="frame-98-UYQ">
                    <img class="settings-2pp" src="/assets/settings.png"/>
                    <p class="setting-yEG">Setting</p>
                </div>
                <img class="naviopen-J1e" src="/assets/naviopen.png"/>
            </div>
        </div>
    </div>
</div>
