<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="user-list">
    <header class="frame-wrapper">
      <div class="frame">
        <img class="logo" src="/img/logo-1.png" />
        <div class="div">
          <div class="div-wrapper">
            <div class="frame-2">
              <img class="image" src="/img/image-2-1.png" />
              <div class="text-wrapper">uniGate</div>
            </div>
          </div>
          <div class="frame-2">
            <div class="group">
              <div class="overlap-group">
                <img class="mask-group" src="/img/mask-group-1.png" />
                <div class="ellipse"></div>
              </div>
            </div>
            <div class="frame-3">
              <div class="text-wrapper-2">Warrior Tran</div>
              <div class="text-wrapper-3">Log out</div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="frame-4">
      <div class="navigation">
        <div class="menu-wrapper"><img class="img" src="/img/menu.svg" /></div>
        <div class="home">
          <img class="img" src="/img/home.svg" />
          <div class="text-wrapper-4">Home</div>
        </div>
        <div class="syllabus">
          <div class="div-2">
            <div class="frame-5">
              <img class="img" src="/img/book-open-1.svg" />
              <div class="text-wrapper-4">Syllabus</div>
            </div>
            <img class="img" src="/img/navi-open-6.svg" />
          </div>
        </div>
        <div class="div-3">
          <div class="div-2">
            <div class="frame-6">
              <img class="img" src="/img/biotech.svg" />
              <div class="text-wrapper-5">Training program</div>
            </div>
            <img class="img" src="/img/navi-open-5.svg" />
          </div>
        </div>
        <div class="div-3">
          <div class="div-2">
            <div class="frame-5">
              <img class="img" src="/img/school.svg" />
              <div class="text-wrapper-4">Class</div>
            </div>
            <img class="img" src="/img/navi-open-4.svg" />
          </div>
        </div>
        <div class="div-2">
          <div class="frame-7">
            <img class="calendar-today" src="/img/calendar-today.svg" />
            <div class="text-wrapper-5">Training calendar</div>
          </div>
          <img class="img" src="/img/arrow-forward-ios-5.png" />
        </div>
        <div class="div-3">
          <div class="div-2">
            <div class="frame-8">
              <img class="img" src="/img/group.svg" />
              <div class="text-wrapper-4">User management</div>
            </div>
            <img class="img" src="/img/navi-open-2.svg" />
          </div>
          <div class="div-4">
            <img class="img" src="/img/arrow-forward-ios-5.png" />
            <div class="text-wrapper-4">User list</div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-8">
            <img class="img" src="/img/folder.svg" />
            <div class="text-wrapper-4">Learning materials</div>
          </div>
          <img class="img" src="/img/arrow-forward-ios-5.png" />
        </div>
        <div class="div-3">
          <div class="div-2">
            <div class="frame-8">
              <img class="img" src="/img/settings.svg" />
              <div class="text-wrapper-4">Setting</div>
            </div>
            <img class="img" src="/img/navi-open.svg" />
          </div>
          <div class="div-4">
            <img class="img" src="/img/arrow-forward-ios-5.png" />
            <div class="text-wrapper-4">Calendar</div>
          </div>
        </div>
      </div>
      <div class="div-5">
        <div class="frame-9">
          <div class="div-5">
            <div class="frame-10">
              <div class="program-header">
                <div class="text-wrapper-6">User Management</div>
              </div>
              <img class="line" src="/img/line-8.svg" />
            </div>
            <div class="frame-9">
              <div class="frame-11">
                <div class="frame-12">
                  <div class="frame-13">
                    <img class="search" src="/img/search.svg" />
                    <div class="text-wrapper-7">Search by...</div>
                  </div>
                  <div class="frame-14">
                    <img class="img" src="/img/filter-list.svg" />
                    <div class="text-wrapper-8">Filter</div>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="add-day-button" id="importButton">
                    <img class="img" src="/img/publish.svg" />
                    <div class="text-wrapper-8">Import</div>
                  </button>
                  <button class="add-day-button-2">
                    <img class="img" src="/img/add.svg" />
                    <div class="text-wrapper-8">Add new</div>
                  </button>
                </div>
              </div>
              <div class="frame-16">
                <div class="frame-17">
                  <div class="frame-18">
                    <div class="text-wrapper-8">ID</div>
                    <img class="sort" src="/img/sort-7.svg" />
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-8">Fullname</div>
                    <img class="sort-2" src="/img/sort-6.svg" />
                  </div>
                  <div class="frame-20">
                    <div class="text-wrapper-8">Email</div>
                    <img class="sort-2" src="/img/sort-5.svg" />
                  </div>
                  <div class="frame-21">
                    <div class="text-wrapper-8">Date of birth</div>
                    <img class="sort-3" src="/img/sort-4.svg" />
                  </div>
                  <div class="frame-22">
                    <div class="text-wrapper-8">Gender</div>
                    <img class="sort-2" src="/img/sort-3.svg" />
                  </div>
                  <div class="frame-22">
                    <div class="text-wrapper-8">Level</div>
                    <img class="sort-2" src="/img/sort-2.svg" />
                  </div>
                  <div class="frame-21">
                    <div class="text-wrapper-8">Type</div>
                    <img class="sort-2" src="/img/sort-1.svg" />
                  </div>
                  <div class="frame-22">
                    <div class="text-wrapper-8">Status</div>
                    <img class="sort-2" src="/img/sort.svg" />
                  </div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">245</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Ánh Nguyên Nghị</div>
                  </div>
                  <div class="frame-20">
                    <div class="div-6">vi.vy@hotmail.com</div>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">22/04/2000</div>
                  </div>
                  <img class="frame-24" src="/img/frame-75-5.svg" />
                  <div class="frame-22">
                    <div class="div-6">AB</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Student</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-2">
                      <div class="text-wrapper-10">In class</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">12</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Phi&nbsp;&nbsp;Huỳnh Bác</div>
                  </div>
                  <div class="frame-20">
                    <p class="div-6">
                      <a href="mailto:vi.vy@hotmail.com" target="_blank" rel="noopener noreferrer"><span
                          class="span">man.diep@vo.name.</span></a>
                      <span class="span">vn</span>
                    </p>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">13/11/2002</div>
                  </div>
                  <div class="frame-22"><img class="img-2" src="/img/male-3.svg" /></div>
                  <div class="frame-22">
                    <div class="div-6">AB</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Student</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-3">
                      <div class="text-wrapper-10">On boaring</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">102</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Đoàn Trà Linh</div>
                  </div>
                  <div class="frame-20">
                    <div class="div-6">linh21@hotmail.vn</div>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">23/11/1985</div>
                  </div>
                  <img class="frame-24" src="/img/frame-75-4.svg" />
                  <div class="frame-22">
                    <div class="div-6">EEDS</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Trainer</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-2">
                      <div class="text-wrapper-10">In class</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">212</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Giáp Ngân Hạ</div>
                  </div>
                  <div class="frame-20">
                    <div class="div-6">eninh@duong.com</div>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">02/09/2000</div>
                  </div>
                  <img class="frame-24" src="/img/frame-75-3.svg" />
                  <div class="frame-22">
                    <div class="div-6">CD</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Student</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-4">
                      <div class="text-wrapper-10">Off class</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">54</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Trác Bình Tùng</div>
                  </div>
                  <div class="frame-20">
                    <div class="div-6">tracbinh@duong.com</div>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">31/09/1992</div>
                  </div>
                  <div class="frame-22"><img class="img-2" src="/img/male-2.svg" /></div>
                  <div class="frame-24"></div>
                  <div class="frame-21">
                    <div class="active-wrapper">
                      <div class="text-wrapper-10">Admin</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate">
                      <div class="text-wrapper-10">Active</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">789</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Tào Huấn</div>
                  </div>
                  <div class="frame-20">
                    <p class="div-6">
                      <span class="span">huantao1</span>
                      <a href="mailto:vi.vy@hotmail.com" target="_blank" rel="noopener noreferrer"><span
                          class="span">@vo.name.</span></a>
                      <span class="span">vn</span>
                    </p>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">13/11/2001</div>
                  </div>
                  <div class="frame-22"><img class="img-2" src="/img/male-1.svg" /></div>
                  <div class="frame-22">
                    <div class="div-6">AA</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Student</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-3">
                      <div class="text-wrapper-10">On boaring</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">929</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Khoa Thiện Châu</div>
                  </div>
                  <div class="frame-20">
                    <p class="div-6">
                      <span class="span">chau.chau</span>
                      <a href="mailto:vi.vy@hotmail.com" target="_blank" rel="noopener noreferrer"><span
                          class="span">@vo.name.</span></a>
                      <span class="span">vn</span>
                    </p>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">15/07/2002</div>
                  </div>
                  <div class="frame-22"><img class="img-2" src="/img/male.svg" /></div>
                  <div class="frame-22">
                    <div class="div-6">CA</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Student</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-3">
                      <div class="text-wrapper-10">On boaring</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">245</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Xa Vy Đào</div>
                  </div>
                  <div class="frame-20">
                    <div class="div-6">vivi.vy@hotmail.com</div>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">23/03/2000</div>
                  </div>
                  <img class="frame-24" src="/img/frame-75-2.svg" />
                  <div class="frame-22">
                    <div class="div-6">BB</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Student</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-2">
                      <div class="text-wrapper-10">In class</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="div-6">902</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Đinh Tân Hà</div>
                  </div>
                  <div class="frame-20">
                    <div class="div-6">haninh@name.com</div>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">30/09/2003</div>
                  </div>
                  <img class="frame-24" src="/img/frame-75-1.svg" />
                  <div class="frame-22">
                    <div class="div-6">CD</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Student</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-4">
                      <div class="text-wrapper-10">Off class</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
                <div class="frame-23">
                  <div class="frame-18">
                    <div class="text-wrapper-11">1202</div>
                  </div>
                  <div class="frame-19">
                    <div class="text-wrapper-9">Trương Mộc Nghi</div>
                  </div>
                  <div class="frame-20">
                    <div class="text-wrapper-12">moc.nghinghi@hotmail.vn</div>
                  </div>
                  <div class="frame-21">
                    <div class="div-6">09/04/1981</div>
                  </div>
                  <img class="frame-24" src="/img/frame-75.svg" />
                  <div class="frame-22">
                    <div class="div-6">PMI-PBA</div>
                  </div>
                  <div class="frame-21">
                    <div class="activate">
                      <div class="text-wrapper-10">Trainer</div>
                    </div>
                  </div>
                  <div class="activate-wrapper">
                    <div class="activate-2">
                      <div class="text-wrapper-10">In class</div>
                    </div>
                  </div>
                  <div class="more-horizontal-wrapper"><img class="img-2" src="/img/more-horizontal-11.svg" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-dot">
          <div class="navi-dot">
            <img class="img" src="/img/arrow-back-ios.svg" />
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="text-wrapper-13">1</div>
              </div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap">
                <div class="text-wrapper-14">2</div>
              </div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="text-wrapper-13">3</div>
              </div>
            </div>
            <img class="more-horizontal" src="/img/more-horizontal.svg" />
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="text-wrapper-15">10</div>
              </div>
            </div>
            <img class="img" src="/img/arrow-forward-ios-2.svg" />
            <img class="img" src="/img/last-page.svg" />
          </div>
          <div class="frame-25">
            <div class="text-wrapper-16">Rows per page</div>
            <div class="rectangle"></div>
            <div class="frame-26">
              <div class="text-wrapper-17">10</div>
              <img class="img" src="/img/arrow-forward-ios-1.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="frame-wrapper">
      <div class="frame-27">
        <p class="p">Copyright @2022 BA Warrior. All right reserved</p>
      </div>
    </footer>
  </div>
  <div class="popup-user">
    <div class="frame">
      <div class="text-wrapper">Import Users</div>
    </div>
    <form>
      <div class="div">
        <div class="text-wrapper-2">Import setting</div>
        <div class="frame-2">
          <div class="frame-3">
            <div class="div-wrapper">
              <p class="file-csv"><span class="span">File (csv)</span> <span class="text-wrapper-3">*</span></p>
            </div>
            <button class="frame-4">
              <div class="text-wrapper-4">Select</div>
            </button>
          </div>
          <div class="frame-5">
            <div class="div-wrapper">
              <div class="text-wrapper-5">Encoding type</div>
            </div>
            <div class="frame-6">
              <div class="text-wrapper-6">Auto detect</div>
              <div class="menu-icon-ant-menu"><img class="union" src="/img/union.svg" /></div>
            </div>
          </div>
          <div class="frame-3">
            <div class="div-wrapper">
              <div class="text-wrapper-7">Column seperator</div>
            </div>
            <div class="frame-6">
              <div class="text-wrapper-8">Comma</div>
              <div class="menu-icon-ant-menu"><img class="union" src="/img/union.svg" /></div>
            </div>
          </div>
          <div class="frame-3">
            <div class="div-wrapper">
              <div class="text-wrapper-7">Import template</div>
            </div>
            <a href="/SyllabusTest.xlsx" download="SyllabusTest.xlsx" class="frame-7">
              <div class="text-wrapper-9">Download</div>
            </a>
          </div>
        </div>
      </div>
      <img class="line" src="/img/line-69.svg" />
      <div class="frame-8">
        <div class="text-wrapper-10">Duplicate control</div>
        <div class="frame-2">
          <div class="frame-9">
            <div class="frame-10">
              <div class="text-wrapper-7">Scanning</div>
            </div>
            <div class="checkbox-group">
              <div class="checkbox">
                <div class="checkbox-input">
                  <div class="bg"></div>
                  <div class="border"></div>
                  <img class="check" src="/img/check-1.svg" />
                </div>
                <div class="text-wrapper-11">Fullname</div>
              </div>
              <div class="checkbox">
                <div class="rectangle-wrapper">
                  <div class="rectangle"></div>
                </div>
                <div class="text-wrapper-11">User email</div>
              </div>
            </div>
          </div>
          <div class="frame-9">
            <div class="frame-10">
              <div class="text-wrapper-7">Duplicate handle</div>
            </div>
            <div class="radio-group">
              <div class="element">
                <div class="radio">
                  <div class="overlap-group">
                    <div class="rectangle-2"></div>
                  </div>
                </div>
                <div class="text-wrapper-11">Allow</div>
              </div>
              <div class="element">
                <div class="radio-2"></div>
                <div class="text-wrapper-11">Replace</div>
              </div>
              <div class="element">
                <div class="radio-2"></div>
                <div class="text-wrapper-11">Skip</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="line" src="/img/line-69.svg" />
      <div class="frame-11">
        <button class="add-day-button">
          <div class="text-wrapper-12">Cancel</div>
        </button>
        <button class="frame-12">
          <div class="text-wrapper-13">Import</div>
        </button>
      </div>
    </form>
  </div>
</body>
<script>
  // Lấy tham chiếu đến các phần tử
  const importButton = document.getElementById("importButton");
  const popup = document.querySelector(".popup-user");
  const overlay = document.querySelector(".overlay");
  const cancelButton = popup.querySelector(".add-day-button");

  // Hiển thị popup và lớp mờ khi nút "Import User" được bấm
  importButton.addEventListener("click", () => {
    //overlay.style.display = "block";
    popup.style.display = "block";
  });

  // Ẩn popup và lớp mờ khi nút "Cancel" hoặc nút bất kỳ để đóng popup được bấm
  cancelButton.addEventListener("click", () => {
    //overlay.style.display = "none";
    popup.style.display = "none";
  });



</script>

</html>